@{
    Layout = "~/_SiteLayoutGencoNoSlider.cshtml";
    Page.Title = "Danh Ba Dien Thoai";
}
<div class="box recently">
<div class="category-head" style="padding-left:0px">
        <h2 class="subtitle"><img id="btChitiet" src="../Images/main-menu.png" border="1" style="padding-top:0px" width="16">&nbsp;<strong>DANH BẠ ĐIỆN THOẠI</strong><span style="padding-left:450px"><a href="~/DANH_BA_DIEN_THOAI_CONG_TY_NHIET_DIEN_PHU_MY.docx" target="_blank">[Xuất File]</a></span></h2>
    </div>	

<!-- So do to chuc -->	
<ol class="grid-row">
<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<div id="tabs-mh" align="left" style="padding-left:1px; padding-top:5px;padding-bottom:2px" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false">
		<div id="PMYDetail1" style="padding-left:0px">
		<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
			<tbody><tr bgcolor="#E4E4E4">
				<td height="20" style="padding-top:5px" class="noidungl"><a href="javascript:toggleLayerPT('PMYDetail1_1');"><img id="btChitiet" src="Images/icon2.gif" border="0" width="20" height="20" style="padding-top:0px" alt="Chọn xem chi tiết"><strong>&nbsp;1. Ban lãnh đạo</strong></a></td>
			</tr>	 
		</tbody></table>	
			<div id="PMYDetail1_1" style="padding-left:0px">
				<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
				<tbody><tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="185" class="noidung" rowspan="2"><strong>Họ và Tên</strong></th>
					<th width="144" class="noidung" rowspan="2"><strong>Chức vụ</strong></th>
					<th class="noidung" colspan="4"><strong>Số điện thoại</strong></th>
					<th width="90" class="noidung" rowspan="2"><strong>Số Fax</strong></th>
				</tr>
				<tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="59" class="noidung"><strong>Nội bộ</strong></th>
					<th width="59" class="noidung"><strong>Nhà riêng</strong></th>
					<th width="89" class="noidung"><strong>Di động</strong></th>
					<th width="89" class="noidung"><strong>Bưu điện</strong></th>
				</tr>
					<tr class="ChitietKTSX">
						<td height="30" class="noidungl" style="padding-left:5px">Dương Thanh Dũng</td>
						<td class="noidungl" style="padding-left:5px">Phó Giám đốc Phụ trách</td>
						<td class="noidung">64866</td>
						<td class="noidung">&nbsp;</td>
						<td class="noidung">096 2501053</td>
						<td class="noidungr" style="padding-right:5px">&nbsp;</td>
						<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
				    </tr>
					<tr class="ChitietKTSX">
						<td height="30" class="noidungl" style="padding-left:5px">Trần Hữu Thanh</td>
						<td class="noidungl" style="padding-left:5px">Phó Giám đốc</td>
						<td class="noidung">64870</td>
						<td class="noidung">&nbsp;</td>
						<td class="noidung">096 2501411</td>
						<td class="noidungr" style="padding-right:5px">&nbsp;</td>
						<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
				    </tr>
					
			</tbody></table>
			</div><!-- end div PTDetail1_1 -->
			<!-- Phong TCLD -->
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
 	 <tbody><tr bgcolor="#E4E4E4">
		<td height="20" style="padding-top:5px" class="noidungl"><a href="javascript:toggleLayerPT('PMYDetail1_2');"><img id="btChitiet" src="Images/icon2.gif" border="0" width="20" height="20" style="padding-top:0px" alt="Chọn xem chi tiết"><strong>&nbsp;2. Phòng Tổ chức và Nhân sự</strong></a></td>
	 </tr>	 
</tbody></table>	
<div id="PMYDetail1_2" style="padding-left:0px">
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
				<tbody><tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="185" class="noidung" rowspan="2"><strong>Họ và Tên</strong></th>
					<th width="144" class="noidung" rowspan="2"><strong>Chức vụ</strong></th>
					<th class="noidung" colspan="4"><strong>Số điện thoại</strong></th>
					<th width="90" class="noidung" rowspan="2"><strong>Số Fax</strong></th>
				</tr>
				<tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="59" class="noidung"><strong>Nội bộ</strong></th>
					<th width="59" class="noidung"><strong>Nhà riêng</strong></th>
					<th width="89" class="noidung"><strong>Di động</strong></th>
					<th width="89" class="noidung"><strong>Bưu điện</strong></th>
				</tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">Phạm Quốc Khanh</td>
		<td class="noidungl" style="padding-left:5px">Phó Trưởng phòng</td>
		<td class="noidung">64853</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">0962501065</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Bùi Thị Hương</td>
		<td class="noidungl" style="padding-left:5px">Phó Trưởng Phòng</td>
		<td class="noidung">64858</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">0961043648</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">&nbsp;</td>
		<td class="noidungl" style="padding-left:5px">Chuyên viên</td>
		<td class="noidung">64858</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	</tbody></table>
</div>
<!-- end TCLD -->

<!-- Van Phong  -->
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
 	 <tbody><tr bgcolor="#E4E4E4">
		<td height="20" style="padding-top:5px" class="noidungl"><a href="javascript:toggleLayerPT('PMYDetail1_9');"><img id="btChitiet" src="Images/icon2.gif" border="0" width="20" height="20" style="padding-top:0px" alt="Chọn xem chi tiết"><strong>&nbsp;3. Văn Phòng</strong></a></td>
	 </tr>	 
</tbody></table>	
<div id="PMYDetail1_9" style="padding-left:0px">
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
				<tbody><tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="185" class="noidung" rowspan="2"><strong>Họ và Tên</strong></th>
					<th width="144" class="noidung" rowspan="2"><strong>Chức vụ</strong></th>
					<th class="noidung" colspan="4"><strong>Số điện thoại</strong></th>
					<th width="90" class="noidung" rowspan="2"><strong>Số Fax</strong></th>
				</tr>
				<tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="59" class="noidung"><strong>Nội bộ</strong></th>
					<th width="59" class="noidung"><strong>Nhà riêng</strong></th>
					<th width="89" class="noidung"><strong>Di động</strong></th>
					<th width="89" class="noidung"><strong>Bưu điện</strong></th>
				</tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">Tống Thị Thanh Thủy</td>
		<td class="noidungl" style="padding-left:5px">Phó Chánh Văn phòng</td>
		<td class="noidung">64767</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">097 9836940</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Nguyễn Hữu Trị</td>
		<td class="noidungl" style="padding-left:5px">Phó Chánh Văn phòng</td>
		<td class="noidung">64857</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">0966656033</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">&nbsp;</td>
		<td class="noidungl" style="padding-left:5px">Chuyên viên</td>
		<td class="noidung">64852</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">&nbsp;</td>
		<td class="noidungl" style="padding-left:5px">Văn thư</td>
		<td class="noidung">64830</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">064.3928686</td>
		<td class="noidungr" style="padding-right:5px">064.3928696</td>		
    </tr>
	</tbody></table>
</div>
<!-- end Van Phong -->
<!-- Phong TCKT -->
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
 	 <tbody><tr><td height="20" style="padding-top:5px" class="noidungl"><a href="javascript:toggleLayerPT('PMYDetail1_3');"><img id="btChitiet" src="Images/icon2.gif" border="0" width="20" height="20" style="padding-top:0px" alt="Chọn xem chi tiết"><strong>&nbsp;4. Phòng Tài chính - Kế toán</strong></a></td>
	 </tr>	  
</tbody></table>	
<div id="PMYDetail1_3" style="padding-left:0px">
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
				<tbody><tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="185" class="noidung" rowspan="2"><strong>Họ và Tên</strong></th>
					<th width="144" class="noidung" rowspan="2"><strong>Chức vụ</strong></th>
					<th class="noidung" colspan="4"><strong>Số điện thoại</strong></th>
					<th width="90" class="noidung" rowspan="2"><strong>Số Fax</strong></th>
				</tr>
				<tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="59" class="noidung"><strong>Nội bộ</strong></th>
					<th width="59" class="noidung"><strong>Nhà riêng</strong></th>
					<th width="89" class="noidung"><strong>Di động</strong></th>
					<th width="89" class="noidung"><strong>Bưu điện</strong></th>
				</tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">Nguyễn Thị Hường</td>
		<td class="noidungl" style="padding-left:5px">Trưởng phòng</td>
		<td class="noidung">64883</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 3777943</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Đặng Quốc Hoài Trâm</td>
		<td class="noidungl" style="padding-left:5px">Phó Trưởng Phòng</td>
		<td class="noidung">64707</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">01667901402</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Nguyễn Đức Thảo</td>
		<td class="noidungl" style="padding-left:5px">Phó Trưởng Phòng</td>
		<td class="noidung">64733</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">0906559568</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">&nbsp;</td>
		<td class="noidungl" style="padding-left:5px">Chuyên viên</td>
		<td class="noidung">64707</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	</tbody></table>
</div>
<!-- end TCKT -->		
<!-- Phong ke hoach -->
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
 	 <tbody><tr bgcolor="#E4E4E4">
		<td height="20" style="padding-top:5px" class="noidungl"><a href="javascript:toggleLayerPT('PMYDetail1_4');"><img id="btChitiet" src="Images/icon2.gif" border="0" width="20" height="20" style="padding-top:0px" alt="Chọn xem chi tiết"><strong>&nbsp;5. Phòng Kế hoạch - Vật tư</strong></a></td>
	 </tr>	 
</tbody></table>	
<div id="PMYDetail1_4" style="padding-left:0px">
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
				<tbody><tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="185" class="noidung" rowspan="2"><strong>Họ và Tên</strong></th>
					<th width="144" class="noidung" rowspan="2"><strong>Chức vụ</strong></th>
					<th class="noidung" colspan="4"><strong>Số điện thoại</strong></th>
					<th width="90" class="noidung" rowspan="2"><strong>Số Fax</strong></th>
				</tr>
				<tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="59" class="noidung"><strong>Nội bộ</strong></th>
					<th width="59" class="noidung"><strong>Nhà riêng</strong></th>
					<th width="89" class="noidung"><strong>Di động</strong></th>
					<th width="89" class="noidung"><strong>Bưu điện</strong></th>
				</tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">Nguyễn Xuân Hiệp</td>
		<td class="noidungl" style="padding-left:5px">Trưởng phòng</td>
		<td class="noidung">64735</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 2501755</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Nguyễn Chơn Cảm</td>
		<td class="noidungl" style="padding-left:5px">Phó Trưởng phòng</td>
		<td class="noidung">64751</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 2501429</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Mai Đình Tuân</td>
		<td class="noidungl" style="padding-left:5px">Phó Trưởng phòng</td>
		<td class="noidung">64881</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 2501042</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
    <tr class="ChitietKTSX" bgcolor="#FFFFCC">
        <td height="30" class="noidungl" style="padding-left:5px">Đinh Thị Thùy</td>
        <td class="noidungl" style="padding-left:5px">Phó Trưởng phòng</td>
        <td class="noidung">64819</td>
        <td class="noidung">&nbsp;</td>
        <td class="noidung">096 2501712</td>
        <td class="noidungr" style="padding-right:5px">&nbsp;</td>
        <td class="noidungr" style="padding-right:5px">&nbsp;</td>
    </tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">&nbsp;</td>
		<td class="noidungl" style="padding-left:5px">Tổ đấu thầu (B.Hà, B.Hoa, B.Uyên, B.Liên)</td>
		<td class="noidung">64819</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">&nbsp;</td>
		<td class="noidungl" style="padding-left:5px">B. Nga, Ô.Nam, Ô.Hòa,B.Liên, B. Hương)</td>
		<td class="noidung">64876</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
    <tr class="ChitietKTSX">
        <td height="30" class="noidungl" style="padding-left:5px">&nbsp;</td>
        <td class="noidungl" style="padding-left:5px">Tổ trưởng Tổ Dự toán</td>
        <td class="noidung">64877</td>
        <td class="noidung">&nbsp;</td>
        <td class="noidung">&nbsp;</td>
        <td class="noidungr" style="padding-right:5px">&nbsp;</td>
        <td class="noidungr" style="padding-right:5px">&nbsp;</td>
    </tr>
    <tr class="ChitietKTSX">
        <td height="30" class="noidungl" style="padding-left:5px">&nbsp;</td>
        <td class="noidungl" style="padding-left:5px">Thủ kho</td>
        <td class="noidung">64875</td>
        <td class="noidung">&nbsp;</td>
        <td class="noidung">&nbsp;</td>
        <td class="noidungr" style="padding-right:5px">&nbsp;</td>
        <td class="noidungr" style="padding-right:5px">&nbsp;</td>
    </tr>
    <tr class="ChitietKTSX">
        <td height="30" class="noidungl" style="padding-left:5px">&nbsp;</td>
        <td class="noidungl" style="padding-left:5px">Nhân viên kho</td>
        <td class="noidung">64878</td>
        <td class="noidung">&nbsp;</td>
        <td class="noidung">&nbsp;</td>
        <td class="noidungr" style="padding-right:5px">&nbsp;</td>
        <td class="noidungr" style="padding-right:5px">&nbsp;</td>
    </tr>
	</tbody></table>
</div>
<!-- end ke hoach -->	
<!-- Phong ky thuat -->
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
 	 <tbody><tr bgcolor="#E4E4E4">
		<td height="20" style="padding-top:5px" class="noidungl"><a href="javascript:toggleLayerPT('PMYDetail1_5');"><img id="btChitiet" src="Images/icon2.gif" border="0" width="20" height="20" style="padding-top:0px" alt="Chọn xem chi tiết"><strong>&nbsp;6. Phòng Kỹ thuật</strong></a></td>
	 </tr>	 
</tbody></table>	
<div id="PMYDetail1_5" style="padding-left:0px">
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
				<tbody><tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="185" class="noidung" rowspan="2"><strong>Họ và Tên</strong></th>
					<th width="144" class="noidung" rowspan="2"><strong>Chức vụ</strong></th>
					<th class="noidung" colspan="4"><strong>Số điện thoại</strong></th>
					<th width="90" class="noidung" rowspan="2"><strong>Số Fax</strong></th>
				</tr>
				<tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="59" class="noidung"><strong>Nội bộ</strong></th>
					<th width="59" class="noidung"><strong>Nhà riêng</strong></th>
					<th width="89" class="noidung"><strong>Di động</strong></th>
					<th width="89" class="noidung"><strong>Bưu điện</strong></th>
				</tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">Nguyễn Văn Phụng</td>
		<td class="noidungl" style="padding-left:5px">Trưởng phòng</td>
		<td class="noidung">64826</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 2501442</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Cao Hoài Bảo</td>
		<td class="noidungl" style="padding-left:5px">Phó Trưởng Phòng</td>
		<td class="noidung">64714</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 2501440</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Huỳnh Ngũ Tuấn Kiệt</td>
		<td class="noidungl" style="padding-left:5px">Phó Trưởng Phòng</td>
		<td class="noidung">64714</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 3500010</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
    <tr class="ChitietKTSX" bgcolor="#FFFFCC">
        <td height="30" class="noidungl" style="padding-left:5px">Nguyễn Thị Tuyển</td>
        <td class="noidungl" style="padding-left:5px">Phó Trưởng Phòng</td>
        <td class="noidung">64703</td>
        <td class="noidung">&nbsp;</td>
        <td class="noidung">090 3813366</td>
        <td class="noidungr" style="padding-right:5px">&nbsp;</td>
        <td class="noidungr" style="padding-right:5px">&nbsp;</td>
    </tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">&nbsp;</td>
		<td class="noidungl" style="padding-left:5px">B.Bình, B. Thảo, Ô. Phong</td>
		<td class="noidung">64703</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	</tbody></table>
</div>
<!-- end ky thuat -->	
<!-- Phong kinh doanh -->
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
 	 <tbody><tr bgcolor="#E4E4E4">
		<td height="20" style="padding-top:5px" class="noidungl"><a href="javascript:toggleLayerPT('PMYDetail1_6');"><img id="btChitiet" src="Images/icon2.gif" border="0" width="20" height="20" style="padding-top:0px" alt="Chọn xem chi tiết"><strong>&nbsp;7. Phân xưởng Vận hành 1</strong></a></td>
	 </tr>	 
</tbody></table>	
<div id="PMYDetail1_6" style="padding-left:0px">
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
				<tbody><tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="185" class="noidung" rowspan="2"><strong>Họ và Tên</strong></th>
					<th width="144" class="noidung" rowspan="2"><strong>Chức vụ</strong></th>
					<th class="noidung" colspan="4"><strong>Số điện thoại</strong></th>
					<th width="90" class="noidung" rowspan="2"><strong>Số Fax</strong></th>
				</tr>
				<tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="59" class="noidung"><strong>Nội bộ</strong></th>
					<th width="59" class="noidung"><strong>Nhà riêng</strong></th>
					<th width="89" class="noidung"><strong>Di động</strong></th>
					<th width="89" class="noidung"><strong>Bưu điện</strong></th>
				</tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">Trần Thái</td>
		<td class="noidungl" style="padding-left:5px">Quản đốc</td>
		<td class="noidung">64854</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 2501054</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Đỗ Mạnh Cường</td>
		<td class="noidungl" style="padding-left:5px">Phó Quản đốc</td>
		<td class="noidung">64855</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 6656013</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Nguyễn Xuân Hải</td>
		<td class="noidungl" style="padding-left:5px">Phó Quản đốc</td>
		<td class="noidung">64050</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 6656014</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Nguyễn Quốc Hoàng</td>
		<td class="noidungl" style="padding-left:5px">Phó Quản đốc</td>
		<td class="noidung">64474</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 6656010</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">Ô.Phúc</td>
		<td class="noidungl" style="padding-left:5px">Thống kê PM1</td>
		<td class="noidung">64151</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">B.Duyên</td>
		<td class="noidungl" style="padding-left:5px">Thống kê PM4</td>
		<td class="noidung">64070</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	</tbody></table>
</div>
<!-- end kinh doanh -->	
<!-- Phong kinh doanh -->
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
 	 <tbody><tr bgcolor="#E4E4E4">
		<td height="20" style="padding-top:5px" class="noidungl"><a href="javascript:toggleLayerPT('PMYDetail1_7');"><img id="btChitiet" src="Images/icon2.gif" border="0" width="20" height="20" style="padding-top:0px" alt="Chọn xem chi tiết"><strong>&nbsp;8. Phân xưởng Vận hành 2</strong></a></td>
	 </tr>	 
</tbody></table>	
<div id="PMYDetail1_7" style="padding-left:0px">
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
				<tbody><tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="185" class="noidung" rowspan="2"><strong>Họ và Tên</strong></th>
					<th width="144" class="noidung" rowspan="2"><strong>Chức vụ</strong></th>
					<th class="noidung" colspan="4"><strong>Số điện thoại</strong></th>
					<th width="90" class="noidung" rowspan="2"><strong>Số Fax</strong></th>
				</tr>
				<tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="59" class="noidung"><strong>Nội bộ</strong></th>
					<th width="59" class="noidung"><strong>Nhà riêng</strong></th>
					<th width="89" class="noidung"><strong>Di động</strong></th>
					<th width="89" class="noidung"><strong>Bưu điện</strong></th>
				</tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">Trần Nguyên Nguyễn</td>
		<td class="noidungl" style="padding-left:5px">Quản đốc</td>
		<td class="noidung">64435</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 3500015</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Lê Tấn Lợi</td>
		<td class="noidungl" style="padding-left:5px">Phó Quản đốc</td>
		<td class="noidung">64154</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 2501431</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Nguyễn Đình Phú</td>
		<td class="noidungl" style="padding-left:5px">Phó Quản đốc</td>
		<td class="noidung">64187</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 2501415</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
    <tr class="ChitietKTSX" bgcolor="#FFFFCC">
        <td height="30" class="noidungl" style="padding-left:5px">Nguyễn Viết Túy</td>
        <td class="noidungl" style="padding-left:5px">Phó Quản đốc</td>
        <td class="noidung">64152</td>
        <td class="noidung">&nbsp;</td>
        <td class="noidung">0966 656 029</td>
        <td class="noidungr" style="padding-right:5px">&nbsp;</td>
        <td class="noidungr" style="padding-right:5px">&nbsp;</td>
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">B.Thực, B.Trinh</td>
		<td class="noidungl" style="padding-left:5px">Thống kê</td>
		<td class="noidung">64155</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	</tbody></table>
</div>
<!-- Phan xuong Hoa -->
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
 	 <tbody><tr bgcolor="#E4E4E4">
		<td height="20" style="padding-top:5px" class="noidungl"><a href="javascript:toggleLayerPT('PMYDetail1_5');"><img id="btChitiet" src="Images/icon2.gif" border="0" width="20" height="20" style="padding-top:0px" alt="Chọn xem chi tiết"><strong>&nbsp;9. Phân xưởng Hóa</strong></a></td>
	 </tr>	 
</tbody></table>	
<div id="PMYDetail1_5" style="padding-left:0px">
<table id="ctsanxuatKTSX" cellpadding="2px" cellspacing="0" width="732">
				<tbody><tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="185" class="noidung" rowspan="2"><strong>Họ và Tên</strong></th>
					<th width="144" class="noidung" rowspan="2"><strong>Chức vụ</strong></th>
					<th class="noidung" colspan="4"><strong>Số điện thoại</strong></th>
					<th width="90" class="noidung" rowspan="2"><strong>Số Fax</strong></th>
				</tr>
				<tr align="center" class="ChitietKTSX" height="30px" bgcolor="#CCCCCC">
					<th width="59" class="noidung"><strong>Nội bộ</strong></th>
					<th width="59" class="noidung"><strong>Nhà riêng</strong></th>
					<th width="89" class="noidung"><strong>Di động</strong></th>
					<th width="89" class="noidung"><strong>Bưu điện</strong></th>
				</tr>
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">Võ Thị Xuân Mai</td>
		<td class="noidungl" style="padding-left:5px">Quản đốc</td>
		<td class="noidung">64715</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 2501049</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	<tr class="ChitietKTSX" bgcolor="#FFFFCC">
		<td height="30" class="noidungl" style="padding-left:5px">Lê Nhân</td>
		<td class="noidungl" style="padding-left:5px">Phó Quản đốc</td>
		<td class="noidung">64716</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">096 2501714</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	
	<tr class="ChitietKTSX">
		<td height="30" class="noidungl" style="padding-left:5px">B.Tân, Ô.Thái, Ô.Long</td>
		<td class="noidungl" style="padding-left:5px">Chuyên viên</td>
		<td class="noidung">64716</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidung">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>
		<td class="noidungr" style="padding-right:5px">&nbsp;</td>		
    </tr>
	</tbody></table>
</div>
<!-- end ky thuat -->	
		</div>
		<!--Phu My -->
		

		

<!-- end kinh doanh -->		
	</div><!-- end div tabs-mh -->
</div><!-- end div tabs -->
</ol>
</div>