<div class="footer-container">
    <div class="footer">
        <div class="box informational">
            <ul>
                <li>
                    <h6>Giới thiệu</h6>
                    <ul>
                        <li><a href="#"<span>Tổng quan</span></a></li>
                        <li><a href="#"><span>Sơ đồ tổ chức</span></a></li>
                        <li><a href="#"><span>Lĩnh vực hoạt động</span></a></li>
                    </ul>
                </li>
                <li>
                    <h6>Văn bản pháp quy</h6>
                    <ul>
                        <li><a href="#"><span>Văn bản Công ty</span></a></li>
                        <li><a href="http://phapche.evn.com.vn/Pages/Search.aspx?scope=1" target="_blank"><span>Văn bản Tập đoàn</span></a></li>
                    </ul>
                </li>
                <li>
                    <h6>Thư viện Tiêu chuẩn ISO</h6>
                    <ul>
                        <li><a href="#"><span>EVN<i>GENCO</i> 3 ban hành</span></a></li>
                        <li><a href="#"><span>Bộ Công thương ban hành</span></a></li>
                        <li><a href="#"><span>Tiêu chuẩn Việt nam (TCVN)</span></a></li>
                    </ul>
                </li>
                <li class="last">
                    <h6>Danh bạ</h6>
                    <ul>
                        <li><a href="#"><span>Cơ quan Công ty</span></a></li>
                        <li><a href="#"><span>Các đơn vị</span></a></li>
                        <li><a href="http://home.evn.com.vn/Home/PhoneBook.aspx?CatePhoneBookId=3" target="_blank"><span>Cơ quan Tập đoàn</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="contacts">
            <div class="f-left">
                <img class="payments" src="~/Images/icon_logo.png" width="32" height="32" alt="">&nbsp;    Công Ty Nhiệt Điện Phú Mỹ | Khu Công Nghiệp Phú Mỹ 1, Phường Phú Mỹ, Thị xã Phú Mỹ, tỉnh Bà Rịa - Vũng Tàu | Điện thoại:  064.3928686 | Fax:  064.3928696 | WebSite:  www.genco3.com
            </div>
            <br>
            <div class="legality">©2013&nbsp;Công ty Nhiệt Điện Phú Mỹ. All Rights Reserved.</div>
        </div>

    </div>
    <!-- end div footer -->
</div>
<!-- end div footer-container-->
