@{
    Layout = "~/_SiteLayoutGencoNoSlider.cshtml";
    Page.Title = "Phap Che";
    var db = Database.Open("HOME_PHUMY");
    var list = db.Query("SELECT * FROM PhapChe");
    
    var vanbanList = from vb in list where vb.parentID == null select vb;

    
                                 
    int i = 1;
    int j = 1;
}
<script language="javascript">
    function openwin(stt){
        window.open("ViewFile.cshtml?stt=" + stt ,"xxxx", "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes,copyhistory=no,width=500,height=300,top="+ (screen.height - 300)/2 +",left=" + (screen.width - 500)/2);
    }

</script>	


<style type="text/css">
    #tabstt {
        border: 1px solid #aaaaaa;
        color: #222222;
        border-radius: 4px;
        padding: 3px;
    }
</style>
<div class="col-main">
    
    <div class="box recently">
        <div class="category-head" style="padding-left: 0px">
            <h2 class="subtitle">
                <img id="btChitiet" src="../Images/main-menu.png" border="1" style="padding-top: 0px" width="16">&nbsp;<strong>THÔNG TIN PHỔ BIẾN LUẬT - PHÁP CHẾ</strong></h2>
        </div>
        <ol class="grid-row">
            <div id="tabstt">
                <div align="left">
                    @foreach (var row in vanbanList)
                    { 
                        if (row.id == 3) { 
                            <a target="_blank" href="http://phapche.evn.com.vn/Pages/NewsList.aspx?Cat=27">
                            <img id="btChitiet" src="Images/icon2.gif" border="0" width="18" height="18" style="padding-top: 0px" alt="Chọn xem chi tiết">
                            &nbsp;<strong>&nbsp;@i. @row.title</strong>
                        </a>
                            break;
                        }
                        <a data-toggle="collapse" data-target="#PMDetail_@i">
                            <img id="btChitiet" src="Images/icon2.gif" border="0" width="18" height="18" style="padding-top: 0px" alt="Chọn xem chi tiết">
                            &nbsp;<strong>&nbsp;@i. @row.title</strong>
                        </a>
                    
                        var childList = from vb in list
                                                     where vb.parentID == row.id
                                                     select vb;                
                                                                  
                        <div id="PMDetail_@i" style="padding-left: 20px;" class = "collapse">
                            
                            @foreach (var row2 in childList)
                            {
                                
                                <a data-toggle="collapse" data-target="#Detail1_@j">
                                    <img src="Images/arrow.gif" border="0" width="20" height="20" style="padding-top: 0px" alt="Chọn xem chi tiết">
                                    <strong>&nbsp;@row2.title</strong>
                                    &nbsp;
                                </a>
                                <br>
                                <div id="Detail1_@j" style="padding-left: 25px;" class="collapse">
                                    <table cellpadding="0" cellspacing="0" bordercolor="#CCCCCC" width="620">
                                        <tbody>
                                            <tr>
                                                <td height="25" class="noidungl"><strong>Tiêu đề:</strong></td>
                                                <td class="noidungj" colspan="2">@row2.title</td>
                                            </tr>
                                            <tr>
                                                <td height="25" class="noidungl"><strong>Ngày ban hành:</strong></td>
                                                <td class="noidungj">@row2.date.ToString("dd/MM/yyyy")</td>
                                                <td class="noidungj"></td>
                                            </tr>
                                            <tr>
                                                <td height="25" class="noidungl"><strong></strong></td>
                                                <td class="noidungj"></td>
                                                <td class="noidungr"><a target="_blank" href="~/UploadedFiles/@row2.filename" title="Xem nội dung">
                                                    <img src="Images/taiphanmem.gif" border="0" width="20" height="20">&nbsp;Nội dung</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" height="1px" bgcolor="#3366FF"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" height="7px"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                j++;
                            }
                        </div>
                        i++;
                        <br />
                    }
                    

                </div>

            </div>
        </ol>


    </div>
</div>
